header {
  position: fixed;
  top: 0;
  height: 5em;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

header span {
  margin-right: 5em;
}

.section {
  outline: 5em solid #fff;
  outline-offset: -5em;
  padding: 0 7em;
}
.one {
  background-color: blue;
}

.two {
  background-color: yellow;
}

.three {
  background-color: pink;
}

.four {
  background-color: orange;
}
