@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

header {
  position: fixed;
  top: 0;
  height: 5em;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

header span {
  margin-right: 2.5em;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2em;
  color: #8d817b;
}

.section {
  outline: 5em solid #fff;
  outline-offset: -5em;
  padding: 0 7em;
}
.one {
  background-color: blue;
}

.two {
  background-color: yellow;
}

.three {
  background-color: pink;
}

.four {
  background-color: orange;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #f5ea04;
}
